{
  "pluginSearchDirs": ["."],
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "svelteBracketNewLine": false
}
